<div class="container text-center">
  <div>
    <h1 class="welcome_user_msg">
      <%= I18n.t("app.welcome_user_msg", val: current_user.user_name) %>
    </h1>
  </div>
  <div class="instruction_msg">
    <h2><%= I18n.t("app.instruction") %></h2>
  </div>
</div>
