.app-icon{
  width:35px;
}

.app-name{
  color: darkred !important;
  font-weight: bold;
  font-size: 20px;
}

.align-nav{
  align-self: right !important;
}
.login-btn{
  color: darkred !important;
  border-color: darkred !important;
}
.flash-msg{
  margin-top: 50px !important;
}

.welcm-msg{
  color: darkred !important;
  font-weight: bold;
  font-size: 70px;  
  border-bottom: 0.2px solid darkred;
}

.align-data{
  margin: 18px 20px 20px 20px;
}

.align-logo-img{
  margin: 60px 0px 20px 0px;
}

.login-form-heading{
  color: darkred;
}

.or-line span {
  width: 15px;
  height: 18px;
  font-size: 16px;
  color: #7d7d7d;
  line-height: 15px;
}

.insta-logo{
  width: 100%;
  height: 60px;
  margin: 10px 0px;
}


.align-field{
  margin: 25px 0px;
  height: 60px !important;
}


.agree-to-use{
  color: black;
  font-size: 15px;
  margin: 0px 0px 20px 0px;
  float: left;
}


.submit-btn{
  width: 100%;
  height: 40px;
  background-color: #660000;
  color: white;
}

.req-text {
  color: #b0b0b0;
  font-size: 13px;
  margin: -10px 0 10px 0px;
  font-style: italic;
  width: 100%;
  text-align: left;
}
.custom-logo{
  height: 350px;
  width: 350px;
  border-style: solid;
  border-width: 3px;
  border-color: whitesmoke;
}